<!DOCTYPE html>
<html>
<head>
    <title>Q & A</title>
    <link rel="stylesheet" href="/css/bundle.css" type="text/css" />
</head>
<body>
<div class="container container--header">

    <div class="header header--navigation">
        <h3 class="title title--text">
            <a href="/" class="title__link">Q & A</a>
        </h3>

        <nav class="nav nav--above">
            <ul class="ul nav__ul">
                {{#if user}}
                <li role="presentation" class="li nav__li">
                    <a href="/" class="li__link">Dashboard</a>
                </li>
                <li role="presentation" class="li nav__li">
                    <a href="/users/logout" class="li__link">Logout</a>
                </li>
                {{else}}
                <li role="presentation" class="li nav__li">
                    <a href="/users/login" class="li__link">Login</a>
                </li>
                <li role="presentation" class="li nav__li">
                    <a href="/users/register" class="li__link">Register</a>
                </li>
                {{/if}}
            </ul>
        </nav>

    </div>


    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
            <div class="alert alert--success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
            <div class="alert alert--danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
            <div class="alert alert--danger">{{error}}</div>
            {{/if}}

            {{{body}}}
        </div>


    </div>

    <footer class="footer">
        <p class="footer__text">&copy; 2016 Q&A, Damon Baesen en Kimberly Verhoeven.</p>
    </footer>

</div> <!-- /container -->
</body>
</html>